<div class="min-h-screen flex">
  <!-- Sidebar -->
  @if(sidebarIsVisible) {
  <app-sidebar></app-sidebar>}
  <!-- Main content -->
  <main class="flex-1 p-6 bg-gray-100">
    <!-- Toggle button -->
    <button
      (click)="toggleSidebar()"
      class="absolute bottom-0 mb-4 px-4 py-2 bg-gray-800 text-white rounded-full hover:bg-gray-700"
    >
      @if(sidebarIsVisible){
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
        />
      </svg>

      } @else {<svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
        />
      </svg>
      }
    </button>
    <router-outlet></router-outlet>
  </main>
</div>
