<aside
  class="w-full lg:w-64 bg-gray-800 text-white p-4 flex flex-row lg:flex-col items-center lg:items-stretch justify-between lg:justify-start space-x-4 lg:space-x-0 lg:space-y-6"
>
  <!-- Logo / título -->
  <a
    routerLink="/"
    class="flex flex-col items-center text-2xl font-bold text-center"
  >
    <img
      src="pokeball.webp"
      alt="Pokeball image"
      class="w-10 h-10 mb-1 bg-white rounded-full border border-gray-00 shadow-md"
    />
    <span>PokeAPP</span>
  </a>

  <!-- Navegación -->
  <nav class="flex flex-row lg:flex-col space-x-4 lg:space-x-0 lg:space-y-2">
    <a
      routerLink="/"
      class="hover:bg-gray-700 px-4 py-2 rounded transition text-center"
    >
      Home
    </a>
    <a
      routerLink="/pokemons"
      class="hover:bg-gray-700 px-4 py-2 rounded transition text-center"
    >
      Pokemons
    </a>
    <a
      routerLink="/abilities"
      class="hover:bg-gray-700 px-4 py-2 rounded transition text-center"
    >
      Abilities
    </a>
  </nav>
</aside>
